extends ../layout

block content
  h2= game.title
  h3 Patrons
  ul#patrons

  script
    var socket = io.connect();
    socket.emit('joinroom', {
      user: {
        id:        "#{user.user_id}",
        firstName: "#{user.firstName}"
      },
      game:    "#{game.id}",
      user_id: "#{user.user_id}"
    });

    socket.on('updatechat', function(data) {
      $('#patrons').empty();
      console.log(data);
      for(var i=0; i < data.length; i++) {
        var user = data[i];
        $('#patrons').append('<li>'+user.firstName+'</li>');
      }
    });
